.delete-container{
    max-width: 500px;

    margin: auto;

    margin-top: 100px;
    text-align: center;
}

.field {
    padding-top: 20px;
}


h2 {
    font-size: 22px;
    border: 1px solid black;
}